body {
    font-size: 15pt;
    margin: 0;
    background: #000000;
    position: fixed;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
canvas{
  position: fixed;
  top:0;
  left:0;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
#con{
  color:white;
  font-family: Roboto Mono;
  padding:10px;
  display: flex;
  justify-content: center;
  background: blue;
}
#con > div{
  text-align: center;
  transition: 0.2s;
  border:2px solid #B5D0CD;
  padding:20px;
  margin:10px;
  border-bottom:5px solid white;
}
#con > div:hover{
  background-color: #A4A6BC;
  transform: translate(0,-10%);
}